* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#root {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  /* max-height: 100vh; */

  display: flex;
  flex-flow: column;

  height: 100%;
}

/* Header Bar */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 80px;

  flex: 0 1 auto;
}

/* font weights */
.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
.medium {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}

main {
  background-color: #f1f9ff;
  /* min-height: 100vh; */

  flex: 1 1 auto;
}

#smart-stock {
  font-size: 24px;
}

#created-by {
  font-size: 16px;
}

/*  Home screen */
#homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homeTitle {
  font-size: 54px;
  margin: 20px auto;
}

#homeSubtitle {
  font-size: 20px;
  margin: 10px auto 40px;
}

#homeButton {
  font-size: 24px;
  background-color: #022851;
  color: white;
  padding: 15px 40px;
  border-radius: 100vh;
  outline: none;
}


/* Main center component */
.main {
  height: 100%;
  /* padding: 10%; */
  display: flex;
  flex-flow: column;
  height: 100%;
}


/* Select page */
#confirm-button {
  text-align: center;
  background-color: #022851;
  color: white;
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 100vh;
  outline: none;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Table */
.tableContainer {
  background-color: white;
  flex: 1 1 auto;
  margin: 50px 100px 30px 100px;
  padding: 20px;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 3px 3px 10px 2px #ccc;
}

.table-main { 
  height: 400px;
  overflow: auto;
}

.table-title {
  font-size: 30px;
  margin: 10px;
}

.table-head { 
  background-color: lightgray;
}

.table-row-selected { 
  background-color: #AADBFF;
}

.table-row-unselected { 
  background-color: white;
}


/* Status bar */
#status-bar {
  flex: 0 1 auto;
  margin-bottom: 40px;
}

.statusBarText {
  font-size: 10px;
  font-weight: 700;
  fill: #022851;
  text-anchor: middle;
}


/* Result */
#go-back-button { 
  text-align: center;
  background-color: #57B8FF;
  color: white;
  font-size: 14px;
  padding: 15px 40px;
  border-radius: 100vh;
  outline: none;
}