html { 
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root { 
  height: 100%;
  background-color: #F1F9FF;
}


/* Header Bar */
#header { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.bolded { 
  font-weight: bold;
}

#smart-stock { 
  font-size: 25px;
  font-weight: bold;
}


/*  Home screen */
#homepage { 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homepage-content { /* Lazy way of translating div to center */
  margin-top: 20%;
}


/* Main center component */
.main { 
  height: 100%;
  padding: 10%;
}

.main-table { 
  background-color: white;
}

.main-title { 
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
}